/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

/*root variable*/
:root {
    --primary-color: #1D4ED8;
    --dark-grey: #6B7280;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

hr {
    margin: 2rem 0rem;
}

/*container*/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 800px;
    margin: auto;
}

/*links*/
.link {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.link-primary {
    background-color: var(--primary-color);
    color: white;
}

.link-secondary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}


/* navigation */
.navigation .link {
    color: white;
}

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
}

.nav-header {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
    color: white;
    border-bottom: 2px solid white;
    border-radius: 0;
}


/* header */
.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 400px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    font-size: 2rem;
    color: var(--dark-grey);
    text-align: center;
}

.hero-heading .heading-inverted{
    color: var(--primary-color);
}