/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

/*root variable*/
:root{
    --primary-color: #1D4ED8;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
}

hr {
    margin: 2rem 0rem;
}

/*container*/
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 800px;
    margin: auto;
}

/*links*/
.links {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.link-primary {
    background-color: var(--primary-color);
    color:white;
}

.link-secondary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color)
}



